body {
    padding-top: 54px;
}

.pageContent {
	width: 90%;
}

.checkboxMargin{
	margin-top: 6px;
}

#update_container {
	display: none;
}
#tracking_container {
	display: none;
}
.zip_input {
	width: 4em;
}
.error{
	border-radius: 5px; 
	border:#FF0000 1px solid;
}


@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
	
}