<div class="card">
    <div class="card-body">
      	<h4 class="card-title anfragelink"><i ng-hide="dataLoaded" class="fa fa-refresh fa-spin"></i><i class="fa fa-refresh" ng-click="setData()" ng-show="dataLoaded"></i> {{$ctrl.name}}</h4>
      	<select ng-model="$ctrl.type" ng-options="x for x in type_options"></select>
      	<input type="checkbox" ng-model="all_time" id="all_time_chk" /><label for="all_time_chk">Gesamter Zeitraum</label>
      	<div ng-hide="all_time">
	      	<div style="display: inline; padding:5px">
	      		<a ng-click="openFromCalendar()"><i class="fa fa-calendar"></i>Von: {{from_date_nice}}</a>
	      		
	      		<datepicker id="from_picker"> <input ng-model="from_date" type="text" style="display: none" /> </datepicker>
	      	</div>
	      	<div style="display: inline; padding:5px">
	      		<a ng-click="openToCalendar()"><i class="fa fa-calendar"></i>Bis: {{to_date_nice}}</a>
	      		 <datepicker id="to_picker"> <input ng-model="to_date" type="text" style="display: none" /> </datepicker>
	      	</div>
      	</div>
      	
        <div id="container" class="container" ng-hide="no_data_available">
           	<div class="panel-body">
               	<canvas id="chart_test" ng-if="$ctrl.type === 'pie'" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-colors="colors"></canvas>
               	<canvas id="chart_test" ng-if="$ctrl.type === 'line'" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-colors="colors"></canvas>
               	<canvas id="chart_test" ng-if="$ctrl.type === 'bar'" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-colors="colors"></canvas>
          	</div>
        </div>   

        <div ng-show="no_data_available" class="bg-warning">
        	Für diesen Zeitraum gibt es keine Daten!
        </div>
    </div>
</div>