body {
    padding-top: 54px;
}

.pageContent {
	width: 90%;
}

.checkboxMargin{
	margin-top: 6px;
}
.loginMargin{
	margin-top: 4px;
}
.zip_input {
	width: 4em;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
	.loginMargin{
	margin-left: 4px;
	margin-right: 4px;
	}
}