body {
    padding-top: 54px;
}

.pageContent {
	width: 90%;
}

.checkboxMargin{
	margin-top: 6px;
}

.zip_input {
	width: 4em;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
	
}